{% extends "plataforma/index.html" %}
{% block main %}
<main class="flex-shrink-0">
    <div class="container">
        <a type="button" href = "{% url 'listaArticulos' %}" style="margin-top: 1em;" class="btn btn-sm btn-outline-primary">Volver</a>
        <form method="post">{% csrf_token %}
            <p>Seguro quieres borrar el post con el titulo =  "{{ article.title }}"?</p>
            {{ form }}
            <input type="submit" value="Borrar">
        </form>
    </div>
</main>
{% endblock %}
