{% extends "plataforma/index.html" %}
{% block main %}
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Profesores de la academia!</h1>
                <p class="fs-4">Estos son los profesores que dictaran los cursos disponibles actualmente en la AcademiaCOSTT</p>
                <a class=""></a>
            </div>
        </div>
    </div>
</header>
<body>
    <section class="pt-4">
        <div class="container px-lg-5">
            <div class="row gx-lg-3">
                {% for profesor in object_list %}
                    <div class="col-lg-5 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="mb-4"></div>
                                <div class="mb-2">
                                    <div style="text-align:center;">
                                        <img height="225" src= {{ profesor.imagen.url }} />
                                    </div>
                                    <span class="display-6 fw-bold">{{ profesor.nombre }} {{ profesor.apellido }}</span>
                                </div>
                                <h2 class="mb-4 fs-6 fw-plain">{{ profesor.especialidad }}</h2>
                                <p class="mb-3">Egresado de la {{profesor.educacion}}</p>
                                {% if user.is_staff %}
                                    <div class="mb-3 d-grid"><a class="btn btn-outline-primary" href="{% url "editar_profesores" profesor.id %}">Editar profesor</a></div>
                                    <div class="mb-3 d-grid"><a class="btn btn-outline-primary" href="{% url "borrar_profesores" profesor.id %}">Borrar profesor</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if user.is_staff %}
                    <div class="col-lg-5 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="mb-4"></div>
                                <div class="mb-2">
                                    <span class="display-6 fw-bold"></span>
                                </div>
                                <h2 class="mb-4 fs-6 fw-plain">Añadir un nuevo profesor a la lista</h2>
                                <div class="d-grid"><a class="btn btn-outline-primary" href="{% url "crearProfesores" %}">Añadir</a></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</body>
{% endblock %}