<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Cursos - AcademiaCOSTT</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static "academia/css/styles.css" %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="{% url "inicio" %}">AcademiaCOSTT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url "inicio" %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url "sobrenosotros" %}">Sobre nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Plataforma</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url "inicio" %}">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
    {% block main %}
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Cursos mas solicitados de la academia!</h1>
                        <p class="fs-4">Estos son algunos de los cursos con mas inscriptos que se encuentran disponibles en nuestra academia, si desea inscribirse entre a nuestro campus virtual!</p>
                        <a class="btn btn-primary btn-lg" href="{% url "login" %}">Ingresar al campus</a>
                    </div>
                </div>
            </div>
        </header>
        <body>
            <section class="pt-4">
                <div class="container px-lg-5">
                    <div class="row gx-lg-3">
                        {% for curso in object_list %}
                            <div class="col-lg-5 col-xxl-4 mb-5">
                                <div class="card bg-light border-0 h-100">
                                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                        <div class="mb-4"></div>
                                        <div class="mb-2">
                                            <span class="display-6 fw-bold">{{ curso.titulo }}</span>
                                        </div>
                                        <h2 class="mb-4 fs-6 fw-plain">{{ curso.descripcion }}</h2>
                                        <p class="mb-3">{{curso.contenido}}</p>
                                        <div class="d-grid"><a class="btn btn-outline-primary" href="{% url "mostrarCurso" curso.id %}">Mas información</a></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-lg-5 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="mb-4"></div>
                                    <div class="mb-2">
                                        <span class="display-6 fw-bold">Más cursos!</span>
                                    </div>
                                    <h2 class="mb-4 fs-6 fw-plain">Para ver mas cursos ingrese a nuestra plataforma</h2>
                                    <div class="d-grid"><a class="btn btn-outline-primary" href="{% url "login" %}">Ingresar a la plataforma</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </body>
    {% endblock %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
