{% extends "academia/base.html" %}
{% block main %}
<body>
    <h1>Cursos disponibles en la AcademiaCoder</h1>
    <ul>
        {% for cursos in object_list %}
            <li>
                <p> Nombre: {{ cursos.titulo }} </p>
                <p>
                <a href= "{% url "mostrarCurso" cursos.id %}">Ver</a>
                <a href= "{% url "editarCurso" cursos.id %}">Editar</a>
                <a href= "{% url "borrarCurso" cursos.id %}">Borrar</a>
                </p>
            </li>
        {% endfor %}
    </ul>
    <a href= "{% url "crearCursos" %}">Añadir un nuevo Curso</a>
</body>
{% endblock %}